//style file global akan dipakai di beberapa halaman pada website kita

body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
  }
}

// ini untuk mengubah styling inputan dengan bootstrap (karena pake bootstrap)
.form-control {
  background-color: #f3f3f3;
}
